
 @media screen and (min-width: 200px) {
    
    .lists {
       display: contents;
    }
    
    .footer-text {
        font-size: smaller;
    }

    .nav-vis {
        display: none;
    }

}


@media screen and (min-width: 700px) {
    .lists {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 50px;
        grid-row-gap: 16px;
    }

    .nav {
        visibility: hidden;
        display: none;
    }

    .nav-vis {
        visibility: visible;
    }

}


@media screen and (min-width: 1000px) {
    .lists {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 10px;
        column-gap: 20px;
    }

    .footer-text {
        font-size: larger;
    }

} 